.error {
    width: 97%;
    font-size: 100%;
    padding: 10px;
}

.heading {
    font-size: 100%;
}


@media (max-width: 800px) {
    .error {
        font-size: 80%;
    }
    .heading{
        font-size: 80%;
    }
}

@media screen and (max-width: 400px) {
    .heading{
        font-size: 120%;
    }
}